    body{margin:0;}
    .HEADER{font-family:'Franklin Gothic Medium', 'Arial Narrow';
    width:100%;
    height:19%;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding:0%;}
    .HEADER img{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-top:1%;
    margin-left:1%;
    width:10%;
    height:80%;
    float:left;}

    .INFO{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    float: left;
    color: green;
    margin-left: 1%;
    padding: 0%;}
    .INFO H4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: green;}
    .INFO h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 100%;}
    .footer{
    margin-top: 0%;
    width:100%;
    height:6%;
    position:absolute;
    text-align:center;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size:250%;
    color:green;
    bottom:0%;}
    .LOOK{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    border:2% solid green;
    background-color: black;
    width:100%;
    height:75%;
    box-shadow:0 1% 1em rgba(0, 0, 0, 2);
    float:left;}
    .CONTENT-TITLE{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';}
    .CONTENT h3{
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-left:10px;
    margin-bottom: 0px;
    font-size:30px;}
    .CONTENT P{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-left:0px;}
    .CONTENT-TEXT img{
    margin-top:5%;
    margin-left:1%;
    width:80%;;
    height:70%;}
    .SCROLL-TEXT{
    margin-bottom: 10px;
    width:254%;
    height:8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    background-color:black;
    color: green;}
    .MENU {
    background-color: black;}
    .MENU UL {margin: 0;}
    .MENU LI {display: inline-block;
    padding-right: 30px;}
    .MENU UL A{ background-color: black;
    text-decoration: none;
    padding:2px;
    border-radius: 100px;
    color: green;}
    .MENU UL A:hover{
    background-color: green;
    text-decoration: none;
    padding:2px;
    border-radius:100px;
    color: black;}
    .MENU LI:active{position: relative;TOP:1px}
    